# encoding: cp1251
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Fio</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
	<td>ФИО</td>
	<td>Имя</td>
	<td>Фамилия</td>
	<td>email</td>
	<td>Действия</td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fio %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
